.box-1 {
  margin: 0 0 0 400px;
}

.box-1 .block {
  float: left;
}

.box-1 .block-25percent {
  width: 95px;
  margin-right: 20px;
}
.box-1 .block-33percent {
  width: 133px;
  margin-right: 20px;
}
.box-1 .block-50percent {
  width: 210px;
  margin-right: 20px;
}
.box-1 .block-75percent {
  width: 328px;
  margin-right: 20px;
}
.box-1 .block-100percent {
  width: 460px;
}

.box-2 {
  position: relative;
  float: left;
  width: 190px;
  padding-left: 10px;
}

.box-3 {
  position: relative;
  float: left;
  width: 190px;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 460px;
}
