<%= link_to_product hash[:product] %>
<small><%= _('input') %> <%= link_to_category hash[:category], false %></small>
<small><%= _('of my product') %> <%= link_to_product hash[:my_product] %></small>
