.box-1 {
  margin: 0 200px 0 0;
}

.box-1 .block {
  float: left;
}

.box-1 .block-25percent {
  width: 163px;
  margin-right: 20px;
}
.box-1 .block-33percent {
  width: 235px;
  margin-right: 20px;
}
.box-1 .block-50percent {
  width: 347px;
  margin-right: 20px;
}
.box-1 .block-75percent {
  width: 531px;
  margin-right: 20px;
}
.box-1 .block-100percent {
  width: 735px;
}

.box-2 {
  position: relative;
  float: right;
  width: 190px;
}

#leave_scrap_content_limit,
#leave_scrap_content_left {
  float: none;
}

