<div class="container">
  <div id="footer-links">
    <%= link_to _('Manual'), '/doc', id: "link-to-doc", class: 'icon-help' %>
  </div><!-- end id="footer-links" -->
  <div id="copyright">
    <p><%= _('This social network uses %{noosfero}, developed by %{colivre} and licensed under the %{licence} version 3 or any later version.') % {
      noosfero: link_to('Noosfero', 'http://noosfero.org'),
      colivre: link_to('Colivre', 'http://colivre.coop.br/'),
      licence: link_to('GNU Affero General Public License', "http://www.gnu.org/licenses/agpl.html"),
    } %></p>
  </div>
</div>
<%= language_chooser(environment) %>
