.box-1 {
  margin: 0 0 0 200px;
}

.box-1 .block {
  float: left;
}

.box-1 .block-25percent {
  width: 135px;
  margin-right: 20px;
}
.box-1 .block-33percent {
  width: 186px;
  margin-right: 20px;
}
.box-1 .block-50percent {
  width: 290px;
  margin-right: 20px;
}
.box-1 .block-75percent {
  width: 445px;
  margin-right: 20px;
}
.box-1 .block-100percent {
  width: 620px;
}

.box-2 {
  position: relative;
  float: left;
  width: 190px;
}

#leave_scrap_content_limit,
#leave_scrap_content_left {
  float: none;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 620px;
}
