<%= block_title(block.title) %>

<ul>
  <% interests.each do |interest| %>
    <li class="sniffer-plugin-declared-interest"><%= interest.opportunity.name %></li>
  <% end %>

  <% if inputs %>
    <% inputs.each do |input| %>
      <li class="sniffer-plugin-input-interest"><%= input.product_category.name %></li>
    <% end %>
  <% end %>
</ul>
