<div class="content-shared-link">


  <div class='title'>
    <%= @page.name %>
  </div>

  <div class="link">
    <a href="<%= @page.external_link %>"><%= @page.external_link %></a>
  </div>

  <div class='link-description'>
    <%= @page.body %>
  </div> 

</div>