<%= block_title(block.title) %>

<ul>
  <% learnings.each do |learning| %>
    <li>
      <%= link_to_article(learning) %>
    </li>
  <% end %>
</ul>

<% if logged_in? and (current_user.person.is_admin?(environment) or profile.admins.include?(current_user.person)) %>
  <%= link_to _('New knowledge'), {:controller => :cms, :action => :new, :type => 'CmsLearningPluginLearning'} %>
<% end %>
