.box-1 {
  margin: 0 200px 0 200px;
}

.box-1 .block {
  float: left;
}

.box-1 .block-25percent {
  width: 113px;
  margin-right: 20px;
}
.box-1 .block-33percent {
  width: 158px;
  margin-right: 20px;
}
.box-1 .block-50percent {
  width: 247px;
  margin-right: 20px;
}
.box-1 .block-75percent {
  width: 381px;
  margin-right: 20px;
}
.box-1 .block-100percent {
  width: 535px;
}

.box-2 {
  position: relative;
  float: left;
  width: 190px;
}

.box-3 {
  position: relative;
  float: right;
  width: 190px;
}

<<<<<<< HEAD
=======
#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 460px;
}
#profile-activity ul.comment-replies,
#profile-network ul.comment-replies,
#profile-wall ul.comment-replies {
  width: auto;
}

>>>>>>> noosfero/0.38-rc
